@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  color: #505f98;
  font-weight: normal;
  font-size: 14px;
  padding-top: 18px;
}
.header > a {
  padding-right: 60px;
}
.landie {
  font-weight: 900;
  padding-top: 12px;
  font-size: 26px;
  color: #37447e;
}
.buy_now {
  border: 0px;
  padding: 5px 40px;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  background: #111b47;
  border-radius: 2px;
}

.introduction {
  height: 100vh;
  background-image: url(../images/bg-01.png);
  background-size: 83%;
  background-repeat: no-repeat;
  background-position: 268% 48%;
}
.button {
  display: inline-block;
}

.purchase_ui {
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  background: #111b47;
  border-radius: 2px;
  margin-right: 30px;
  padding: 5px 40px;
  display: inline-block;
}

.learn_more {
  font-weight: 500;
  font-size: 16px;
  color: #091133;
  border: 2px solid #091133;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5px 40px;
  display: inline-block;
}

.fast {
  font-weight: 500;
  font-size: 36px;
  color: #091133;
  padding-bottom: 1rem;
}

.fast_1 {
  font-weight: 500;
  font-size: 36px;
  color: #091133;
  padding-bottom: 1rem;
}

.lorem {
  font-weight: normal;
  font-size: 16px;
  color: #6f7cb2;
  margin-bottom: 40px;
}

.title_goes {
  font-weight: 500;
  font-size: 16px;
  color: #091133;
  margin-bottom: 0.5rem;
}

.lorem_ipsum {
  font-weight: normal;
  font-size: 12px;
  color: #5d6970;
}

.inside_sec1 {
  display: flex;
  flex-direction: row;
}
.title_here {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.sec2_content {
  margin-bottom: 108px;
}

.happy {
  padding: 122px 130px;
}

.button_style {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background: #111b47;
  border-radius: 2px;
  padding: 5px 40px;
  display: inline-block;
}

.hole-section {
  display: flex;
  align-items: center;
  height: 100vh;
}

.button_style1 {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background: #111b47;
  border-radius: 2px;
  padding: 5px 40px;
  display: inline-block;
  margin-bottom: 172px;
}

.footer_12 {
  margin-bottom: 35px;
}

.rate {
  color: #222f65;
}

.design_kit {
  color: #37447e;
  margin-bottom: 60px;
}

.see_one_price {
  font-weight: normal;
  font-size: 14px;
  color: #5d6970;
  margin-bottom: 9px;
}

.happy1 {
  padding: 122px 130px;
  background-image: url("../images/Rectangle.png");
}

.footer_bg {
  background: #e7ecff;
  padding: 60px 165px 36px;
}

.hr_style {
  background: #cdd1d4;
  margin-top: 46px;
  margin-bottom: 24px;
}

.a_space {
  margin-right: 60px;
}

.space_icon {
  margin-right: 30px;
}

.icon_size {
  font-size: 36px;
  margin-bottom: 14px;
}
